* {
  box-sizing: border-box;
}

body {
  display: flex;
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Montserrat", "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  flex-direction: column;
  align-items: center;
}
a {
  text-decoration: none;
}
.itemIndex {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
}
.itemIndex > li {
  overflow: hidden;
}
.itemIndex > li > a {
  display: block;
  text-decoration: none;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  height: 40px;
  background: #4e75ff;
  cursor: pointer;
  color: #fff;
  box-shadow: none;
  border-color: inherit;
}
.itemIndex > li > a:hover {
  background: #6c8cff;
}
.linkBack {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  color: #fff;
}
.linkBack:hover {
  background: #6c8cff;
}

#categories {
  margin: 0;
  padding: 24px;
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
  width: 440px;
}
.item {
  border-radius: 8px;
  padding: 16px;
  overflow: hidden;
  background-color: #f6f6fe;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.item > ul {
  display: flex;
  padding: 0;
  gap: 8px;
  flex-direction: column;
  width: 100%;
}
.item > h2 {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.item > ul > li {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 8px 8px 16px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: center;
}
.gallery-item {
  width: 360px;
  background-color: #fff;
  border: 1px solid #ddd;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.gallery-item img {
  width: 100%;
  display: block;
  height: 100%;
  object-fit: cover;
}
.gallery-item .caption {
  padding: 8px;
  font-size: 14px;
  color: #555;
}
.login-form {
  width: 408px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
}
.login-form > label {
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.login-form > label > input {
  height: 40px;
  width: 100%;
  border: 1px solid #808080;
  outline: #808080;
  border-radius: 4px;
}
.login-form > label > input:focus-within {
  outline: #000;
  border-color: #000;
}
.login-form > label > input::placeholder {
  color: #999; /* Задаем цвет */
  opacity: 0; /* Делаем непрозрачным */
}
.login-form > label > input:active::placeholder {
  color: #999; /* Задаем цвет */
  opacity: 1; /* Делаем непрозрачным */
}

.login-form > button {
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  height: 40px;
  background: #4e75ff;
  cursor: pointer;
  color: #fff;
  box-shadow: none;
  border-color: inherit;
  margin-top: 8px;
}
.login-form > button:hover {
  background: #6c8cff;
}

.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.change-color {
  border-radius: 8px;
  padding: 8px 16px;
  width: fit-content;
  height: 40px;
  background: #4e75ff;
  cursor: pointer;
  color: #fff;
  box-shadow: none;
  border-color: inherit;
  margin-top: 8px;
}

.change-color:hover {
  background: #6c8cff;
}
